
* {
    background: #25131A;
}

grid.start {
    background: #25131A;
}

container.menu {
    background: #6E4A48;
    border-color: #472B43;
    border-radius: 2;
    border-width: 2;
}

button {
    border-radius: 2;
    border-width: 4;
    border-color: #3D253B;
    background: #895A45;
    color: #FFFFFF;
}

button:active {
    background: #724736;
}

textblock.h1 {
    font-size: 24;
}